$blue: #337ab7;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$lighter-gray: #EEE;
$yellow: #FFFF99;
$purple: #CC99FF;
$green: #5cb85c;
body {

  background: $lighter-gray;
  font-size: 16px;
  font-family: sans-serif;

  header {
    h1 {
      font-family: 'Lily Script One', cursive;
      font-size: 64px;
      text-align: center;
      margin-top: 20px;
      padding: 0;
    }
    text-align: center;
  }

  .top-bar {
    width: 100%;
    background: black;
    padding: 10px 0;
    height: 40px;
    a:hover {
      cursor: pointer;
    }
    ul.login-buttons-outer {
      float: right;
      margin: 0;
      padding: 0;
    }
    .notifications-box {
      float: right;
      position: relative;
      border: 2px solid $medium-gray;
      border-top: none;
      border-bottom: none;
      .notifications-trigger {
        color: white;
        cursor: pointer;
        padding-left: 20px;
        padding-right: 20px;
      }
      .notifications-container-dropdown {
        display: none;
        position: absolute;
        right: 0;
        background: white;
        padding: 10px;
        margin-top: 10px;
        left: initial;
      }
    }
    #login-dropdown-list {
      list-style-type: none;
      a.dropdown-toggle {
        padding: 10px 20px;
        margin-right: 2px;
        text-decoration: none;
        color: white;
        &:hover {
          text-decoration: none;
        }
        &:before {
          font-family: FontAwesome;
          padding-right: 6px;
          content: "\f007";
        }
      }
      .dropdown-menu {
        left: initial;
        right: 0;
        top: 30px;
      }
    }
  }

  .left-container {
    width: 70%;
    float: left;
    margin-top: 10px;
    .search-container {
      margin: 0px;
      margin-bottom: 10px;

      i.fa-search {
        padding: 10px;
        padding-left: 20px;
        position: absolute;
        color: $medium-gray;
      }
      input {
        width: 100%;
        display: inline-block;
        padding: 7px;
        border-radius: 25px;
        outline: none;
        padding-left: 50px;
        border: 2px solid white;
      }
      input:focus {
        border: 2px solid #0097cf;
      }
    }
    ul.list-container {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        &.checked {
          opacity: 0.5;
        }
        margin: 0;
        padding: 10px;
        background: white;
        border: 1px solid $light-gray;
        border-top: none;
        .item-content {
          position: relative;
          .item-left, .item-right {
            display: inline-block;
          }
          .item-left {
            vertical-align: top;
            margin-right: 10px;
            .fa {
              font-size: 20px;
              color: $medium-gray;
            }
          }
          div.tags {
            padding-top: 10px;
          }
        }
        div.controls {
          position: absolute;
          top: 0;
          right: 0;
          display: none;
        }
        &:hover div.controls {
          display: block;
          button {
            background: inherit;
            border: none;
            i {
              font-size: 20px;
              color: lighten($dark-gray, 20%);
              &:hover {
                color: $dark-gray;
              }
            }
          }
        }
        .creator {
          margin: 0 10px;
          padding: 5px;
          background: $yellow;
          border: 1px solid $light-gray;
          border-radius: 3px;
          font-size: 14px;
          &.me {
            background: $purple;
          }
        }
        .tag {
          margin: 0 10px;
          padding: 3px;
          background: $lighter-gray;
          border: 1px solid $light-gray;
          border-radius: 3px;
          font-size: 14px;
        }
      }
      li:first-child {
        border-top: 1px solid $light-gray;
      }
    }
  }

  form.new-item-form {
    margin-bottom: 10px;
    .error:not(:empty) {
      color: red;
      margin-bottom: 10px;
    }
    input {
      line-height: 30px;
      border: 2px solid #ccc;
      -webkit-border-radius: 8px;
         -moz-border-radius: 8px;
              border-radius: 8px;
      outline: none;
      padding: 0 10px;
    }
    input:focus {
      border: 2px solid #0097cf;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }
  }

  .right-container {
    width: 30%;
    margin-top: 10px;
    float: right;
    padding: 0px 10px;
    div.filter-row {
      margin-bottom: 10px;
    }
    button.name-filter {
      display: block;
      width: 80%;
      margin: 5px 0;
      &[data-checked="true"] {
        background-color: $green;
        border: 1px solid darken($green, 10%);
        color: white;
        &:hover {
          background-color: lighten($green, 10%);
        }
      }
    }
  }

  .manage-blocked-container {
    margin-top: 10px;
    .panel-heading {
      h4 {
        text-align: center;
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {

      }
    }
  }

  button.switch-toggle {
    margin-right: 10px;
    width: 90px;
    cursor: pointer;
    background-color: $green;
    padding: 0;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid $dark-gray;
    span.toggle-opt {
      background: white;
      width: 100%;
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
      font-size: 12px;
    }
    span.toggle-opt-2 {
      display: none;
    }
    &[data-checked="false"] {
      padding: 0;
      padding-left: 20px;
      background-color: $blue;
      span.toggle-opt-2 {
        display: inline-block;
      }
      span.toggle-opt-1 {
        display: none;
      }
    }
  }

}
