body {
  background: #EEE;
  font-size: 16px;
  font-family: sans-serif; }
  body header {
    text-align: center; }
    body header h1 {
      font-family: 'Lily Script One', cursive;
      font-size: 64px;
      text-align: center;
      margin-top: 20px;
      padding: 0; }
  body .top-bar {
    width: 100%;
    background: black;
    padding: 10px 0; }
    body .top-bar a:hover {
      cursor: pointer; }
    body .top-bar #login-dropdown-list {
      list-style-type: none;
      text-align: right; }
      body .top-bar #login-dropdown-list a.dropdown-toggle {
        padding: 10px 20px;
        margin-right: 2px;
        text-decoration: none;
        color: white; }
        body .top-bar #login-dropdown-list a.dropdown-toggle:hover {
          text-decoration: none; }
        body .top-bar #login-dropdown-list a.dropdown-toggle:before {
          font-family: FontAwesome;
          padding-right: 6px;
          content: "\f007"; }
      body .top-bar #login-dropdown-list .dropdown-menu {
        left: initial;
        right: 0;
        top: 30px; }
  body .left-container {
    width: 70%;
    float: left;
    margin-top: 10px; }
    body .left-container .search-container {
      margin: 0px;
      margin-bottom: 10px; }
      body .left-container .search-container i.fa-search {
        padding: 10px;
        padding-left: 20px;
        position: absolute;
        color: #999; }
      body .left-container .search-container input {
        width: 100%;
        display: inline-block;
        padding: 10px;
        border-radius: 25px;
        padding-left: 50px;
        border: white; }
    body .left-container ul.list-container {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      body .left-container ul.list-container li {
        margin: 0;
        padding: 10px;
        background: white;
        border: 1px solid #DDD;
        border-top: none; }
        body .left-container ul.list-container li.checked {
          opacity: 0.5; }
        body .left-container ul.list-container li .item-content {
          position: relative; }
          body .left-container ul.list-container li .item-content .item-left, body .left-container ul.list-container li .item-content .item-right {
            display: inline-block; }
          body .left-container ul.list-container li .item-content .item-left {
            vertical-align: top;
            margin-right: 10px; }
            body .left-container ul.list-container li .item-content .item-left .fa {
              font-size: 20px;
              color: #999; }
          body .left-container ul.list-container li .item-content div.tags {
            padding-top: 10px; }
        body .left-container ul.list-container li div.controls {
          position: absolute;
          top: 0;
          right: 0;
          display: none; }
        body .left-container ul.list-container li:hover div.controls {
          display: block; }
          body .left-container ul.list-container li:hover div.controls button {
            background: inherit;
            border: none; }
            body .left-container ul.list-container li:hover div.controls button i {
              font-size: 20px;
              color: #666666; }
              body .left-container ul.list-container li:hover div.controls button i:hover {
                color: #333; }
        body .left-container ul.list-container li .creator {
          margin: 0 10px;
          padding: 5px;
          background: #FFFF99;
          border: 1px solid #DDD;
          border-radius: 3px;
          font-size: 14px; }
          body .left-container ul.list-container li .creator.me {
            background: #CC99FF; }
        body .left-container ul.list-container li .tag {
          margin: 0 10px;
          padding: 3px;
          background: #EEE;
          border: 1px solid #DDD;
          border-radius: 3px;
          font-size: 14px; }
      body .left-container ul.list-container li:first-child {
        border-top: 1px solid #DDD; }
  body div.new-item-dropdown {
    float: right;
    margin-top: 15px; }
    body div.new-item-dropdown .new-item-trigger {
      border-radius: 50%;
      font-weight: bold; }
    body div.new-item-dropdown .dropdown-menu {
      left: initial;
      right: 0; }
  body form.new-item-form {
    width: 320px; }
    body form.new-item-form .entry {
      margin: 10px; }
      body form.new-item-form .entry label {
        width: 60px; }
      body form.new-item-form .entry input {
        padding: 8px 12px;
        line-height: 30px;
        border: 2px solid #ccc;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        outline: none;
        height: 34px;
        font-size: 14px;
        background-color: #fff; }
        body form.new-item-form .entry input:focus {
          border: 2px solid #0097cf;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
      body form.new-item-form .entry.submit {
        text-align: center; }
      body form.new-item-form .entry.error {
        color: red; }
      body form.new-item-form .entry button {
        font-size: 14px; }
    body form.new-item-form div.close-form {
      text-align: right;
      padding: 5px 0px; }
      body form.new-item-form div.close-form a {
        border: 1px solid black;
        background-color: #DDD;
        font-size: 16px;
        padding: 5px 10px;
        cursor: pointer; }
  body .right-container {
    width: 30%;
    margin-top: 10px;
    float: right;
    padding: 0px 10px; }
    body .right-container button.name-filter {
      display: block;
      width: 80%;
      margin: 5px 0; }
      body .right-container button.name-filter[data-checked="true"] {
        background-color: #5cb85c;
        border: 1px solid #449d44;
        color: white; }
        body .right-container button.name-filter[data-checked="true"]:hover {
          background-color: #80c780; }
  body .manage-blocked-container {
    margin-top: 10px; }
    body .manage-blocked-container ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
  body button.switch-toggle {
    width: 90px;
    cursor: pointer;
    background-color: #5cb85c;
    padding: 0;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid #333; }
    body button.switch-toggle span.toggle-opt {
      background: white;
      width: 100%;
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
      font-size: 12px; }
    body button.switch-toggle span.toggle-opt-2 {
      display: none; }
    body button.switch-toggle[data-checked="false"] {
      padding: 0;
      padding-left: 20px;
      background-color: #337ab7; }
      body button.switch-toggle[data-checked="false"] span.toggle-opt-2 {
        display: inline-block; }
      body button.switch-toggle[data-checked="false"] span.toggle-opt-1 {
        display: none; }

/*# sourceMappingURL=later-app.css.map */
